@charset "UTF-8";

h3{
    color:green;
}

.box{
    box-sizing:border-box;
    width:100%;
    padding:10px;
    border:2px solid #eee;
    border-radius:5px;
}
.child{
    height:500px;
}